<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="login-page">
    <div class="error-popup">
      <p class="error-msg">Error</p>
    </div>
    <form id="signupForm">
      <h1>Register</h1>
      <input type="name" id="name" name="name" required placeholder="Name ..."/><br />

      <input type="email" id="email" name="email" required placeholder="Email ..." /><br />

      <input type="password" id="password" name="password" required placeholder="Password ..."></input><br />

      <input type="password" id="password-confirm" required name="password-confirm" placeholder="Confirm Password ..."></input><br />

      <input type="submit" value="Register" class="submit-btn register"/>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/signup.js"></script>
  </body>
</html>
