<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="login-page">
    <div class="nav">
      <a href="/overview">Home</a>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
    <div class="content-holder">
      <form id="form">
        <h2>Name: {$= user.name $}</h2>
        <h2>Email: {$= user.email $}</h2>

        <h3>Update Password</h3>
        <input
          type="current-password"
          id="current-password"
          current-password="current-password"
          placeholder="Current Password ..."
        /><br />

        <input type="text" id="new-password" name="new-password" placeholder="New Password" /><br />

        <input type="submit" value="Submit" class="submit-btn" />
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/user.js"></script>
  </body>
</html>
