@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@1,300;1,500&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../pics/bg_pattern.svg");
  background-color: rgb(243, 174, 47);
  background-size: cover;
}
/* Login Page, Register Page */

body.login-page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-page form,
#createForm,
#updateForm {
  background-color: whitesmoke;
  padding: 3em 8em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  text-align: center;
}
.login-page h1,
.login-page h2,
.login-page h3 {
  color: #353535;
  margin: 5px;
}
.login-page a {
  color: #4141ff;
}
.login-page .submit-btn,
#createForm .submit-btn,
#updateForm .submit-btn {
  padding: 20px 108px;
  text-transform: uppercase;
  background-color: #57ff57;
}
.login-page .submit-btn.register {
  padding: 20px 100px;
}
.login-page .submit-btn:hover,
#createForm .submit-btn:hover,
#updateForm .submit-btn:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.login-page form input,
#createForm input,
#updateForm input {
  padding: 20px 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 10px;
}

/* Login Page, Register page end */

/* Overview Page */
.todos {
  margin-top: 130px;
}
.todo-holder {
  width: 50%;
  margin: 20px auto;
  padding: 2em;
  border-radius: 20px;
  color: #353535;
}
.todo-holder .btns-holder {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.todo-holder .btns-holder a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}
.todo-holder .btns-holder a:hover {
  opacity: 0.7;
  cursor: pointer;
}
.todo-holder .update-btn {
  background-color: #4141ff;
}
.todo-holder .delete-btn {
  background-color: #cd1212;
}
.todo-holder .complete-btn {
  background-color: #1d7506;
}
#createForm,
#updateForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
#createForm.active,
#updateForm.active {
  opacity: 1;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.todo-id {
  display: none;
}
.create-btn {
  color: whitesmoke;
}
.create-btn:hover {
  color: #353535;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.4em;
  cursor: pointer;
}
.empty-content-message {
  text-align: center;
}
.empty-content-message h1 {
  color: whitesmoke;
}
/* Overview page end */

/* Error popup */

.error-popup {
  position: absolute;
  top: 30px;
  width: 50%;
  text-align: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 20px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s ease-in-out;
}

.error-popup.active {
  opacity: 1;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

/* Error popup end */
/* Activation page */

.activation-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.activation-page a {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.activation-page a:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* Activation page end */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: #f35d2e;
  text-align: right;
}

.nav a {
  padding: 0 10px;
  color: whitesmoke;
  text-decoration: none;
}

.nav a:hover {
  color: #353535;
}

.todo-holder {
  background-color: #fd7070;
}
.todo-holder.completed {
  background-color: #8cfd70;
}
